<form nz-form [formGroup]="formGroup" nz-row [nzGutter]="16">
  <div class="gutter-row" nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
    <app-input
      [placeholder]="'Email'"
      controlName="email"
      [parentForm]="formGroup"
      type="text"
    ></app-input>

    <app-input
      [placeholder]="'Senha'"
      controlName="password"
      [parentForm]="formGroup"
      type="password"
    ></app-input>

    <app-input
      [placeholder]="'Confirme a senha'"
      controlName="confirmPassword"
      [parentForm]="formGroup"
      type="password"
    ></app-input>

    <app-select
      placeholder="Tipo da conta"
      controlName="accountType"
      [parentForm]="formGroup"
      [options]="accountType$"
    >
    </app-select>
  </div>

  <!-- <div
    class="gutter-row uploader-wrapper"
    nz-col
    [nzXs]="{ span: 24 }"
    [nzLg]="{ span: 12 }"
  >
    <app-upload class="uploader"></app-upload>
  </div> -->

  <div nz-col nzSpan="24" class="cta">
    <app-link-button label="Register" (click)="register()"></app-link-button>
  </div>
</form>
