@mixin font-play {
  font-family: "Play", sans-serif;
}

@mixin font($size: false, $weight: false, $lh: false, $style: false) {
  @if $size {
    font-size: #{$size};
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }

  @if $style {
    font-style: $style;
  }
}

@mixin screen-reader-txt {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@mixin disabled {
  background-color: $neutral7;
  color: $neutral4;
  border: none;
  cursor: not-allowed;
  opacity: 0.4;
}
