/*
 * Variables
 * wowsystems.co.uk
*/

/*  Monochromatic Colors */
$black: #000;
$white: #fff;

/*  Design System */
$primary: #ff3333;
$primary-hover: #ff5555;
// $secondary: #1f4287;
$secondary: #1890ff;

$neutral1: $white;
$neutral2: #f2f2f2;
$neutral3: #dfe0e6;
$neutral4: #cacbd5;
$neutral5: #b4b6c3;
$neutral6: #72768f;
$neutral7: #585b6f;
$neutral8: #464959;
$neutral9: #353743;
$neutral10: #222222;
$neutral11: #0e0c0c;
$neutral12: #1a1a1a;

/*  Colors  */
$polarGreen6: #52c41a;
$magenta6: #eb2f96;
$sunriseYellow6: #fadb14;
$volcano6: #fa541c;
$gold6: #faad14;
$dustRed6: #f5222d;
$dustRed7: #cf1322;
