@import "variables";
@import "mixins";
@import "rwd-queries";

.ant-table-content {
  table {
    // background-color: $white;
    thead {
      tr {
        th {
        }
      }
    }
    tr {
      &:nth-child(even) {
        background-color: $neutral2;
      }
    }
    td {
      color: $neutral12;
      a {
        &:hover {
          color: $neutral7;
        }
      }

      &.actions {
        span {
          font-size: 1.125rem;
          &:hover {
            &.delete {
              color: $dustRed6;
            }
          }
        }
      }
    }
  }
  .ant-table-tbody > tr.ant-table-row:hover > td,
  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    // background: $primary-hover;
  }
  .ant-table-footer,
  .ant-table-thead > tr > th {
    // background-color: $neutral4;
    // color: $neutral12;
    // border-bottom: none;
  }
  .ant-table-tbody > tr > td {
    // border-bottom: none;
  }
}

span.anticon {
  cursor: pointer;
  transition: ease-in-out 0.3s;
  &:hover {
    color: #1890ff;
  }
}
