// @import "variables";
:host {
  .warning {
    background-color: yellow;
  }

  .floating-label {
    pointer-events: none;
    font-size: smaller;
    display: block;
    width: 100%;
    margin-bottom: 3px;
    transition: ease-in;
  }

  :host ::ng-deep {
    .ant-form-item-has-feedback {
      .ant-form-item-children-icon {
        display: flex !important;
        flex: none !important;
        margin: unset !important;
        top: unset !important;
        line-height: unset !important;
        height: 47% !important;
        align-items: unset !important;
        right: 8px !important;
      }

      &.ant-form-item-has-success {
        .ant-form-item-children-icon {
          color: green;
        }
      }

      &.ant-form-item-has-warning {
        .ant-form-item-children-icon {
          color: green;
        }
      }

      &.ant-form-item-has-error {
        .ant-form-item-children-icon {
          color: green;
        }
      }

      &.ant-form-item-is-validating {
        .ant-form-item-children-icon {
          color: green;
        }
      }
    }

    .ant-form-item-explain {
      margin: -0.9rem 0 0.5rem 0;
      font-size: smaller;

      &.ant-form-item-explain-warning {
        color: green;
      }
    }

    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .did-floating-label {
    color: gray;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    padding: 0 5px;
    background: white;
    border-radius: 4px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .did-floating-input,
  .did-floating-select {
    &:focus {
      outline: none;
      ~ .did-floating-label {
        top: -11px;
        font-size: smaller;
      }
    }
  }

  .did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
    top: -11px;
    font-size: smaller;
  }
}

.did-error-input {
  .did-floating-input,
  .did-floating-select {
    border: 2px solid #9d3b3b;
    color: #9d3b3b;
  }
  .did-floating-label {
    font-weight: 600;
    color: #9d3b3b;
  }
  .did-floating-select:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%239d3b3b'/%3E%3C/svg%3E%0A");
  }
}
