<form nz-form [formGroup]="formGroup">
  <app-input
    *ngIf="mode === 'edit'"
    [placeholder]="'Id'"
    controlName="id"
    [parentForm]="formGroup"
    type="text"
  ></app-input>

  <app-input
    [placeholder]="'Name'"
    controlName="name"
    [parentForm]="formGroup"
    type="text"
  ></app-input>

  <app-input
    [placeholder]="'Membro'"
    controlName="member"
    [parentForm]="formGroup"
    type="text"
  ></app-input>

  <app-text-area
    [placeholder]="'Passo'"
    controlName="description"
    [parentForm]="formGroup"
  ></app-text-area>

  <app-back-submit-panel
    (submit)="submit()"
    (back)="back()"
    [disabled]="
      !formGroup.valid || formGroup.controls.isSubmitting?.value === true
    "
  ></app-back-submit-panel>
</form>
