:host {
  .scheduling-details-form {
    margin-bottom: 2rem;
  }

  #protocols-button {
    text-align: right;
  }
  #end-appointment {
    display: flex;
    justify-content: space-between;
  }

  .edit-appointment {
    text-align: right;
  }
}
