<form nz-form [formGroup]="formGroup" nz-row [nzGutter]="16">
  <div class="gutter-row mb-3" nz-col [nzSpan]="24">
    <h2>Agendamentos</h2>
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="24">
        <app-input
          *ngIf="mode === 'edit'"
          [placeholder]="'Id'"
          controlName="id"
          [parentForm]="formGroup"
          type="text"
        ></app-input>

        <div nz-row [nzGutter]="16">
          <div
            *ngIf="patientList$ | async as patients"
            nz-col
            [nzXs]="{ span: 24 }"
            [nzLg]="{ span: 12 }"
          >
            <app-select
              controlName="patient"
              [parentForm]="formGroup"
              [placeholder]="'Paciente'"
              [hasFloatingLabel]="false"
              [options]="patients"
            ></app-select>
          </div>

          <div
            *ngIf="physioterapistList$ | async as physioterapist"
            nz-col
            [nzXs]="{ span: 24 }"
            [nzLg]="{ span: 12 }"
          >
            <app-select
              controlName="doctor"
              [parentForm]="formGroup"
              [placeholder]="'Profissional do atendimento'"
              [hasFloatingLabel]="false"
              [options]="physioterapist"
            ></app-select>
          </div>
        </div>

        <div nz-row [nzGutter]="16">
          <app-date-picker
            [placeholder]="'Data'"
            controlName="date"
            [parentForm]="formGroup"
            nz-col
            [nzSpan]="12"
          ></app-date-picker>

          <app-time-picker
            [placeholder]="'Hora'"
            controlName="date"
            [parentForm]="formGroup"
            nz-col
            [nzSpan]="12"
          ></app-time-picker>
        </div>
      </div>
      <div nz-col nzSpan="24" class="edit-appointment">
        <app-back-submit-panel
          (back)="back()"
          (submit)="editAppointment()"
          [disabled]="
            !formGroup.valid || formGroup.controls.isSubmitting?.value === true
          "
        ></app-back-submit-panel>
      </div>
    </div>
  </div>
</form>
