<form nz-form [formGroup]="formGroup" nz-row [nzGutter]="16">
  <div class="gutter-row mb-3" nz-col [nzSpan]="24">
    <div class="header" nz-row [nzGutter]="16">
      <div
        class="gutter-row mb-3"
        nz-col
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 12 }"
      >
        <h2>Agendamentos</h2>
      </div>
      <div
        *ngIf="mode !== formMode.create"
        class="cancel-button"
        nz-col
        [nzXs]="{ span: 24 }"
        [nzLg]="{ span: 12 }"
      >
        <app-button
          label="Cancelar"
          type="secondary"
          (click)="cancelScheduling()"
        ></app-button>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="24">
        <app-input
          *ngIf="mode === formMode.edit"
          [placeholder]="'Id'"
          controlName="id"
          [parentForm]="formGroup"
          type="text"
        ></app-input>

        <div nz-row [nzGutter]="16">
          <div
            class="patient-dropdown"
            *ngIf="patientList$ | async as patients"
            nz-col
            [nzXs]="{ span: 24 }"
            [nzLg]="{ span: 12 }"
          >
            <app-select
              controlName="patientId"
              [parentForm]="formGroup"
              [placeholder]="'Paciente'"
              [hasFloatingLabel]="false"
              [options]="patients"
            ></app-select>
            <app-link-button
              path="/patients/create"
              icon="plus"
            ></app-link-button>
          </div>

          <div
            *ngIf="schedulingTypeList$ | async as schedulingType"
            nz-col
            [nzXs]="{ span: 24 }"
            [nzLg]="{ span: 12 }"
          >
            <app-select
              [placeholder]="'Tipo de agendamento'"
              controlName="schedulingTypeId"
              [parentForm]="formGroup"
              [hasFloatingLabel]="false"
              [options]="schedulingType"
            ></app-select>
          </div>

          <!-- <div
            *ngIf="physioterapistList$ | async as physioterapist"
            nz-col
            [nzXs]="{ span: 24 }"
            [nzLg]="{ span: 12 }"
          >
            <app-select
              controlName="professionalId"
              [parentForm]="formGroup"
              [placeholder]="'Profissional do atendimento'"
              [hasFloatingLabel]="false"
              [options]="physioterapist"
            ></app-select>
          </div> -->
          <div
            *ngIf="schedulingStatusList$ | async as schedulingStatus"
            nz-col
            [nzXs]="{ span: 24 }"
            [nzLg]="{ span: 12 }"
          >
            <app-select
              *ngIf="mode !== formMode.create"
              [placeholder]="'Status'"
              controlName="schedulingStatusId"
              [parentForm]="formGroup"
              [hasFloatingLabel]="false"
              [options]="schedulingStatus"
            ></app-select>
          </div>
        </div>

        <div nz-row [nzGutter]="16">
          <app-date-picker
            [placeholder]="'Data'"
            controlName="date"
            [parentForm]="formGroup"
            nz-col
            [nzSpan]="12"
          ></app-date-picker>

          <app-time-picker
            [placeholder]="'Hora'"
            controlName="date"
            [parentForm]="formGroup"
            nz-col
            [nzSpan]="12"
          ></app-time-picker>
        </div>
      </div>
      <div nz-col nzSpan="24" class="edit-appointment">
        <app-back-submit-panel
          (back)="back()"
          (submit)="editAppointment()"
          [disabled]="
            !formGroup.valid || formGroup.controls.isSubmitting?.value === true
          "
        ></app-back-submit-panel>
      </div>
    </div>
  </div>
</form>
