:host {
  .patient-dropdown {
    display: flex;
    app-select {
      flex: 1;
    }
  }
  .edit-appointment {
    text-align: right;
  }

  .header {
    .cancel-button {
      text-align: right;
    }
  }
}
