
<app-link-button label="Novo Paciente" icon="plus" path="create"></app-link-button>

<ng-container *ngIf="listOfData$ | async as listOfData">

  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>birthDate</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.phone }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.birthDate }}</td>
        
        <td>
          <a [routerLink]="'edit/'+ data.id">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a [routerLink]="'history/'+ data.id">Histórico</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td>
      </tr>
  </tbody>
</nz-table>
</ng-container>
