<form nz-form [formGroup]="formGroup">
  <app-input
    *ngIf="mode === 'edit'"
    [placeholder]="'Id'"
    controlName="id"
    [parentForm]="formGroup"
    type="text"
  ></app-input>

  <app-input
    [placeholder]="'Rua'"
    controlName="street"
    [parentForm]="formGroup"
    type="text"
  ></app-input>

  <app-input
    [placeholder]="'Cidade'"
    controlName="city"
    [parentForm]="formGroup"
    type="text"
  ></app-input>

  <app-input
    [placeholder]="'Número'"
    controlName="number"
    [parentForm]="formGroup"
    type="text"
  ></app-input>

  <app-input
    [placeholder]="'Código postal'"
    controlName="postalCode"
    [parentForm]="formGroup"
    type="text"
  ></app-input>
</form>
