<app-link-button
  label="Novo Procedimento"
  icon="plus"
  path="create"
></app-link-button>

<ng-container *ngIf="listOfData$ | async as listOfData">
  <nz-table
    #basicTable
    [nzData]="listOfData"
    [nzScroll]="{ y: '740px' }"
    [nzScroll]="{ x: '900px' }"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Passos</th>
        <th nzWidth="120px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.steps }}</td>

        <td>
          <a [routerLink]="'edit/' + data.id">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
