<!-- <nz-drawer
  [nzClosable]="true"
  [nzVisible]="drawerService.visibleDrawer"
  nzPlacement="right"
  (nzOnClose)="close()"
  [nzWidth]="getWidthScreen()"
>
  <ng-container *nzDrawerContent>
    <router-outlet></router-outlet>
  </ng-container>
</nz-drawer> -->

<div *ngIf="history$ | async as history">
  <h3>Histórico de consultas</h3>
  <!-- {{ history[0] | json }} -->
  <div class="patient-info">
    <span nz-icon nzType="user" nzTheme="outline"></span>
    <h4>Paciente: {{ history[0].patientName }}</h4>
  </div>

  <nz-table
    #basicTable
    [nzData]="history"
    [nzScroll]="{ y: '740px' }"
    [nzScroll]="{ x: '900px' }"
  >
    <thead>
      <tr>
        <th>Profissional</th>
        <th>Data</th>
        <th>Evolução</th>
        <th nzWidth="180px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data">
        <td>{{ item.professionalName }}</td>
        <td>{{ item.date | date : "dd-MM-yyyy" }}</td>

        <td>{{ item.evolution }}</td>

        <td class="actions">
          <span
            nz-icon
            nzType="arrow-right"
            nzTheme="outline"
            [routerLink]="'/medical-appointments/view/' + item.schedulingId"
          ></span>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <!-- <div class="procedure-wrapper" nz-row nzGutter="16">
    <div nz-col nzSpan="24">
      <div
        class="history"
        nz-row
        nzGutter="16"
        *ngFor="let item of history"
        routerLinkActive="active"
      >
        <div class="appointment-details" nz-col nzSpan="16">
          <div class="procedure-info">
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            <p>{{ item.date | date : "dd-MM-yyyy" }}</p>
          </div>

          <div class="procedure-info">
            <span nz-icon nzType="user" nzTheme="outline"></span>
            <p>{{ item.professionalName }}</p>
          </div>
        </div>

        <div class="see-details" nz-col nz-col nzSpan="8">
          <span
            nz-icon
            nzType="arrow-right"
            nzTheme="outline"
            (click)="open()"
            [routerLink]="'/medical-appointments/view/' + item.schedulingId"
          ></span>
        </div>
      </div>
    </div>
  </div> -->

  <app-link-button
    path="/patients"
    label="Voltar"
    type="secondary"
  ></app-link-button>
</div>
