@import "variables";

:host {
  p,
  h3 {
    margin: 0;
  }

  .history {
    border: 1px solid $neutral5;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    border-radius: 4px;
    &.active {
      border-color: $secondary;
    }
  }
  .patient-info {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
    h4 {
      transition: 0.3s ease-in-out;
    }

    &:hover {
      span,
      h4 {
        color: $secondary;
      }
    }
    span {
      margin-right: 0.5rem;
    }
  }
  .procedure-wrapper {
    margin-bottom: 1rem;
    display: flex;
  }

  /* fix things above */
  .procedure-info {
    align-items: center;
    margin-left: 1rem;
    display: flex;
    span {
      margin-right: 0.5rem;
    }
  }

  .see-details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
