<nz-drawer
  [nzClosable]="true"
  [nzVisible]="drawerService.visibleDrawer"
  nzPlacement="right"
  (nzOnClose)="close()"
  [nzWidth]="getWidthScreen()"
>
  <ng-container *nzDrawerContent>
    <router-outlet></router-outlet>
  </ng-container>
</nz-drawer>

<div *ngIf="history$ | async as history">
  <h3>Histórico de consultas</h3>
  <!-- {{ history[0] | json }} -->
  <div
    class="patient-info"
    [routerLink]="'/patients/edit/' + history[0].patient.id"
  >
    <span nz-icon nzType="user" nzTheme="outline"></span>
    <h4>Paciente: {{ history[0].patient.name }}</h4>
  </div>

  <div class="procedure-wrapper" nz-row nzGutter="16">
    <div nz-col nzSpan="24">
      <div
        class="history"
        nz-row
        nzGutter="16"
        *ngFor="let item of history"
        routerLinkActive="active"
      >
        <div class="appointment-details" nz-col nzSpan="16">
          <div class="procedure-info">
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            <p>{{ item.date | date : "dd-MM-yyyy" }}</p>
          </div>

          <div
            class="procedure-info"
            [routerLink]="'/physioterapists/edit/' + item.doctor.id"
          >
            <span nz-icon nzType="user" nzTheme="outline"></span>
            <p>{{ item.doctor.name }}</p>
          </div>
        </div>

        <div class="see-details" nz-col nz-col nzSpan="8">
          <span
            nz-icon
            nzType="arrow-right"
            nzTheme="outline"
            (click)="open()"
            [routerLink]="'detail/' + item.id"
          ></span>
        </div>
        <!-- <nz-divider nzType="horizontal"></nz-divider> -->
      </div>
    </div>
  </div>

  <app-link-button
    path="/patients"
    label="Voltar"
    type="secondary"
  ></app-link-button>
</div>
