@import "variables";

:host {
  p,
  h3 {
    margin: 0;
  }
  .patient-info {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
    h4 {
      transition: 0.3s ease-in-out;
    }

    &:hover {
      span,
      h4 {
        color: $secondary;
      }
    }
    span {
      margin-right: 0.5rem;
    }
  }
  .procedure-wrapper {
    margin-bottom: 1rem;
    display: flex;
    .appointment-details {
    }
  }
  .procedure-info {
    align-items: center;
    margin-left: 1rem;
    display: flex;
    span {
      margin-right: 0.5rem;
    }
  }

  // .see-details {
  //   margin-left: 1rem;
  // }
}
