<section>
  <header>
    <h3>Dados da clínica</h3>
  </header>

  <form nz-form [formGroup]="formGroup">
    <app-input
      [placeholder]="'Name'"
      controlName="name"
      [parentForm]="formGroup"
      type="text"
    ></app-input>

    <app-input
      [placeholder]="'CNPJ'"
      controlName="identificationNumber"
      [parentForm]="formGroup"
      type="text"
    ></app-input>

    <app-back-submit-panel
      (submit)="submit()"
      (back)="back()"
      [disabled]="
        !formGroup.valid || formGroup.controls.isSubmitting?.value === true
      "
    ></app-back-submit-panel>
  </form>
</section>
