<nz-layout>
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    [nzWidth]="uncollapsedSize"
    nzBreakpoint="lg"
    [nzTrigger]="null"
    [(nzCollapsed)]="isCollapsed"
    [appShowIfLogged]="true"
  >
    <div class="sidebar-logo">
      <a routerLink="" target="_blank">
        <img src="../assets/imgs/physio-logo.svg" alt="logo" />
        <h1 class="screen-reader-txt">Physio</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [ngStyle]="{ overflow: !isCollapsed ? 'hidden' : 'unset' }"
    >
      <!-- <li nz-menu-item routerLink="/home" nzMatchRouter>
        <span nz-icon nzType="home"></span>
        <span>Inicio</span>
      </li> -->

      <li nz-menu-item routerLink="/scheduling" nzMatchRouter>
        <span nz-icon nzType="calendar" nzTheme="outline"></span>
        <span>Agendamento</span>
      </li>

      <li nz-submenu nzTitle="Gerenciamento" nzIcon="setting">
        <ul>
          <li
            accessControl
            [moduleType]="[roles.Professional, roles.Clinic]"
            nz-menu-item
            routerLink="/patients"
            nzMatchRouter
          >
            <span nz-icon nzType="contacts" nzTheme="outline"></span>
            <span>Pacientes</span>
          </li>

          <li
            accessControl
            [moduleType]="[roles.Clinic]"
            nz-menu-item
            routerLink="/physioterapists"
            nzMatchRouter
          >
            <span nz-icon nzType="team" nzTheme="outline"></span>
            <span>Fisioterapeutas</span>
          </li>

          <li
            accessControl
            [moduleType]="[roles.Professional, roles.Clinic]"
            nz-menu-item
            routerLink="/procedures"
            nzMatchRouter
          >
            <span nz-icon nzType="exclamation-circle" nzTheme="outline"></span>
            <span>Protocolos</span>
          </li>

          <li nz-menu-item routerLink="/medical-appointments" nzMatchRouter>
            <span nz-icon nzType="contacts" nzTheme="outline"></span>
            <span>Consultas</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header [appShowIfLogged]="true">
      <div style="display: flex">
        <div class="trigger">
          <span
            nz-icon
            [nzType]="!isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></span>
        </div>
        <app-header></app-header>
      </div>
    </nz-header>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
    <!-- <app-footer></app-footer> -->
  </nz-layout>
</nz-layout>
