
<form nz-form [formGroup]="formGroup" nz-row [nzGutter]="16">
    <div class="gutter-row" nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
        <app-input
        [placeholder]="'Clínica'"
        controlName="name"
        [parentForm]="formGroup"
        type="text"
        ></app-input>
    
        <app-input
        [placeholder]="'Endereço'"
        controlName="address"
        [parentForm]="formGroup"
        type="text"
        ></app-input>
    
        <app-input
        [placeholder]="'Telefone'"
        controlName="phone"
        [parentForm]="formGroup"
        type="text"
        ></app-input>
    
        <app-input
        [placeholder]="'CNPJ'"
        controlName="identificationNumber"
        [parentForm]="formGroup"
        type="text"
        ></app-input>
    </div>
    

    <div class="gutter-row uploader-wrapper" nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
        <app-upload class="uploader"></app-upload>
    </div>
    


    <div nz-col nzSpan="24" class="cta">
        <app-link-button label="Register" (click)="register()"></app-link-button>
    </div>
    
</form>
