:host {
  .app-header {
      padding: 0;
      width: 100%;
      z-index: 2;
    }
    
    .app-header {
      position: relative;
      height: 64px;
      padding: 1rem;
      background: #fff;
      box-shadow: 0 1px 4px rgba(0,21,41,.08);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      app-button {
        margin-right: 1rem;
      }

      .controls-button {
        margin-right: 1rem;
        font-size: 1rem;
        transition: ease-in 0.2s;
        &:hover {
          color: red;
          cursor: pointer;
        }
        
      }
    }
}
.router-active {
  color: #1890ff;
}