<div *ngIf="list$ | async as list" nz-row [nzGutter]="16" >
    <ng-container *ngIf="list.length; else noItems">
        <ng-container *ngFor="let item of list" >
            <nz-card 
            nz-col [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }" 
            style="width: 300px;margin-top: 8px;" 
            class="gutter-row"
            [nzLoading]="loading" 
            [nzActions]="[actionSetting, actionEdit]">
        
                <p>{{ item.patient.name }}</p>
                <p>{{ item.procedure.name }}</p>
                <p>{{ item.doctor.name }}</p>
        
            </nz-card>
            <ng-template #actionSetting>
                <span nz-icon nzType="delete"></span>
            </ng-template>
            <ng-template #actionEdit>
                <span nz-icon nzType="edit" [routerLink]="'/appointments/edit/'+ item.id"></span>
            </ng-template>
        </ng-container>
    </ng-container>
</div>

<ng-template #noItems>
    <h2>no Items</h2>
</ng-template>
