<ng-container *ngIf="eventosPorHora$ | async as eventosPorHora; else loading">
  <div class="scheduling-wraper">
    <div *ngFor="let hora of horas" class="hour-line">
      <div class="clock">
        <span>{{ hora }}:00</span>
      </div>
      <span class="has-appointment">
        <ng-container
          *ngTemplateOutlet="
            hasAppointment;
            context: { $implicit: eventosPorHora[hora] || hora }
          "
        >
        </ng-container>
      </span>
      <span *ngIf="enableAddingButton">
        <div class="new-appointment">
          <app-add-appointment-button
            [time]="hora"
          ></app-add-appointment-button>
        </div>
      </span>
    </div>
  </div>

  <ng-template #hasAppointment let-evento>
    <div class="appointment-list">
      <div
        class="appointment-info"
        [ngClass]="getAppointmentClass(item.schedulingStatus, evento.date)"
        *ngFor="let item of evento.schedulings"
      >
        <div class="appointment">
          <div class="appointment-details">
            <div class="doctor-info">
              <span>Dr. {{ item.professionalName }}</span>
            </div>

            <div class="patient-info">
              <span [routerLink]="'/patients/edit/' + item.id">
                {{ item.patientName }}
              </span>
            </div>
          </div>
          <div
            class="appointment-actions"
            *ngIf="item.schedulingStatus === 'Agendado'; else viewAppointment"
          >
            <span
              id="edit"
              nz-icon
              nzType="edit"
              nzTheme="outline"
              [routerLink]="'/scheduling/edit/' + item.id"
            ></span>

            <span
              id="end-appointment"
              nz-icon
              nzType="check"
              nzTheme="outline"
              [routerLink]="'/medical-appointments/create/' + item.id"
            ></span>
          </div>
        </div>

        <ng-template #viewAppointment>
          <!-- <div
            class="appointment-actions"
            *ngIf="item.schedulingStatus === 'Agendado'"
          >
            <span
              id="end-appointment"
              nz-icon
              nzType="check"
              nzTheme="outline"
              [routerLink]="'/medical-appointments/create/' + item.id"
            ></span>
          </div> -->

          <div
            class="appointment-actions"
            *ngIf="item.schedulingStatus === 'Finalizado'"
          >
            <span
              id="end-appointment"
              nz-icon
              nzType="arrow-right"
              nzTheme="outline"
              [routerLink]="'/medical-appointments/edit/' + item.id"
            ></span>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
