@import "variables";

:host {
  ::ng-deep .scheduling-info {
    span {
      margin-bottom: 1rem;
      &:first-child {
        margin-right: 0.5rem;
      }
    }
  }

  .scheduling-wraper {
    overflow: auto;
    max-height: 600px;
    padding: 5px;
    margin: 5px;

    .hour-line {
      display: flex;
      border-bottom: 1px dashed $neutral4;
      // padding: 1rem;
      .clock {
        min-width: 65px;
        padding: 1.75rem 0.5rem;
        display: flex;
        align-items: center;
        span {
          margin-right: 0.5rem;
          font-weight: 600;
        }
      }
      .has-appointment {
        // background-color: green;
        // display: flex;
        flex: 1;
        // align-items: center;

        .appointment-list {
          display: flex;
          height: 100%;
          flex-wrap: wrap;
          .appointment-info {
            border-radius: 8px;
            flex: 1;
            margin: 0 0.5rem;
            min-width: 200px;
            &:last-child {
              margin-bottom: 0;
            }

            // &:nth-child(odd) {
            //   &.agendado {
            //     background-color: $sunriseYellow6;
            //   }
            // }
            &.warning,
            &.canceled {
              background-color: $dustRed7;
              .appointment-actions {
                #edit,
                #end-appointment {
                  color: $neutral1;
                  &:hover {
                    color: $neutral7;
                  }
                }
              }
              .doctor-info,
              .patient-info {
                span {
                  color: $neutral2;
                }
                &:hover {
                  span {
                    color: $neutral7;
                  }
                }
              }
            }

            &.agendado {
              background-color: $sunriseYellow6;
              .appointment-actions {
                #edit,
                #end-appointment {
                  color: $neutral12;
                  &:hover {
                    color: $neutral7;
                  }
                }
              }
              .doctor-info,
              .patient-info {
                &:hover {
                  span {
                    color: $neutral7;
                  }
                }
              }
            }

            &.past {
              background-color: $polarGreen6;

              .doctor-info,
              .patient-info {
                span {
                  color: $neutral2;
                }

                &:hover {
                  span {
                    color: $neutral7;
                  }
                }
              }
            }
          }
        }
      }
    }
    .appointment {
      height: 100%;
      color: white;
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s ease-in-out;
      .appointment-actions {
        span {
          cursor: pointer;
          margin-right: 0.5rem;
          font-size: 1.25rem;
        }
      }

      .doctor-info,
      .patient-info {
        cursor: pointer;
      }
      .doctor-info {
        span {
          font-weight: 600;
          color: $neutral12;
          transition: ease-in-out 0.2s;
        }
      }

      .patient-info {
        span {
          color: $neutral12;
          transition: ease-in-out 0.2s;
        }
      }
      // background-color: #0aaf60;
    }
  }

  .new-appointment {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1.5rem;
  }
}
