<h2>Histórico de consultas</h2>

<ng-container *ngIf="listOfData$ | async as listOfData">
  <nz-table
    #basicTable
    [nzData]="listOfData"
    [nzScroll]="{ y: '740px' }"
    [nzScroll]="{ x: '900px' }"
  >
    <thead>
      <tr>
        <th>Paciente</th>
        <th>Profissional</th>
        <th>Data</th>
        <th>Situação</th>
        <th nzWidth="160px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.patientName }}</td>
        <td>{{ data.professionalName }}</td>
        <td>{{ data.date | date : "dd/MM/yyyy" }}</td>
        <td>{{ data.evolution }}</td>

        <td class="actions">
          <span
            nz-icon
            nzType="edit"
            nzTheme="outline"
            class="edit"
            [routerLink]="'edit/' + data.schedulingId"
          ></span>
          <nz-divider nzType="vertical"></nz-divider>
          <span class="delete" nz-icon nzType="delete" nzTheme="outline"></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
