<ng-container *ngIf="listOfData$ | async as listOfData">
  <nz-table
    #basicTable
    [nzData]="listOfData"
    [nzScroll]="{ y: '740px' }"
    [nzScroll]="{ x: '900px' }"
  >
    <thead>
      <tr>
        <th>Paciente</th>
        <th>Profissional</th>
        <th>Data</th>
        <!-- <th>Pressão arterial</th> -->
        <th>Situação</th>
        <th nzWidth="160px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.patient.name }}</td>
        <td>{{ data.doctor.name }}</td>
        <td>{{ data.date | date }}</td>
        <!-- <td>{{ data.bloodPressure }}</td> -->
        <td>{{ data.status.name }}</td>

        <td>
          <a [routerLink]="'edit/' + data.id">Editar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Apagar</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
